*{
	margin:0;
}

body {
	margin: 0px;
    font-family: Roboto;
  }
  

  img{
    height:30mm;
    width: auto;
    shadow: 1px 1px 6px 2 rgba(0,0,0,1);
  }
  
 
  nav {
    background: whitesmoke;
    font-family:'roboto';
    font-weight: bold;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    height: 70px;
    font-weight: medium;
    z-index: 4;
    margin-bottom:10px;
      list-style: none;
    }
    
    .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
    }
  
    a {
      color:#044777;
      
      }
  
  
    
    .header li a {
    display: block;
    padding: 30px 5px;
    padding-left: 20px;
    text-decoration: none;
    }
    
    .header li a:hover,
    .header .menu-btn:hover {
    color:#FFBB33;
    background-color: #044777;
    border-radius: 0px 0px 20px 20px;
    }
  
    .active-3 {
      text-transform:uppercase;
      font-size: 12pt;
      font-weight: 900;
      background-color: #044777;
      color:#FFBB33;
      border-radius: 0px 0px 20px 20px;
    }
    
    
    /* menu */
    
    .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    background:#C3CED3;
    }
    
    /* menu icon */
    
    .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 45px 20px;
    position: relative;
    user-select: none;
    }
    
    .header .menu-icon .navicon {
    background: #044777;
    display: block;
    height: 6px;
    border-radius: 10px;
    position: relative;
    transition: .2s ease-out;
    width: 40px;
  
    }
  
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
    background:#044777;
    content: '';
    display: block;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  
    }
    .menu-btn{
        padding:none;
    }
    
    .header .menu-icon .navicon:before {
    top: 15px;
    }
    
    .header .menu-icon .navicon:after {
    top: -15px;
    
    }
    
    /* menu btn */
    
    .header .menu-btn {
    display: none;
    }
    
    .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    }
    
    .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    }
    
    .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }
    
    .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }
    
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    }
    
    @media (min-width: 920px) {
      .header li {
        float: left;
      }
    
      .links li a{
        padding: 30px 30px;
        margin-left: 15px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background: none;
      }
      .header .menu-icon {
        display: none;
      }
  
      .active-3 {
        text-transform:uppercase;
        font-size: 12pt;
        font-weight: 900;
        background-color: #044777;
        color:#FFBB33;
        border-radius: 0px 0px 20px 20px;
      }
    
      
      }
  

  .active-3 {
    text-transform:uppercase;
    font-size: 12pt;
    font-weight: 900;
    background-color: #044777;
    color:#FFBB33;
    border-radius: 0px 0px 20px 20px;
  }
  



/*------------------Form-------------------*/

.accordion.contentbox{
  position:relative;
  margin: 10px 20px;
  
  }
  
  .accordion .contentbox .label{
  position: relative;
  padding: 10px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  background:#FFBB33;
  cursor:pointer;
  }   
  
  .accordion .contentbox .label::before{
  content: '+';
  position: absolute;
  top: 50%;
  right:20px;
  transform:translateY(-50%);
  font-size: 40px;
  }
  
  .accordion .contentbox.active .label::before{
  content: '-';
  
      }
  
  .accordion .contentbox .content {
  position: relative;
  padding: 5px;
  background:#FFBB33;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  height:0;
  overflow:hidden;
  transition: 0.9%;
  overflow-y:auto;
  
  }
  
  .accordion .contentbox.active .content {
      height:300px;
      padding: 10px;
  }
  
.Yes input {
padding:20px;
}

.No input {
  padding:20px;
  }
  

  /*------------------Grid-----------------------*/
  
  /* Create two equal columns that floats next to each other */
  .column {
      width: 50%;
      padding-right: 10px;
      padding-left: 20px;
      height: auto;
      float: left;
      
      
    }
  
    .column2 {
      width: 100%;
      height: auto;
      float: center;
      align:center;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    
    }
  
    .column3 {
      width: 60%;
      height: auto;
      font-size: 16px;
      display: flex;
    }
    
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
      
    }
  
    .row{
      float: center;
  
    }
  
  /*-----------X-------Grid--------X---------------*/
  
  b{padding-right:30px;
    color: #044777;
  }

  b1{padding-right:30px;
    padding-left:20px;
    color: #044777;
    font-weight: bolder;
  }
  
  p{
  text-align: center;
  font-size: 16px;  
  padding-top: 15px;  
  padding-bottom: 15px;  
  padding-left: 30px;
  padding-right: 30px;
  color: #044777;
  }

  p2{
    text-align: left;
    font-size: 16px;  
    padding-top: 15px;  
    padding-bottom: 15px;  
    padding-left: 30px;
    padding-right: 30px;
    color: #044777;
   
    }
  
  h1{
  
      text-align: center;
      padding-right: 10px;
      color: #044777;
  }

  h2{
    text-align: center;
    font-size:18px;

}
  
  * {box-sizing: border-box}
  
  /* Add padding to containers */
  .container {
    padding-top: 160px;
    padding-left:70px;
    padding-right:70px;
  }
  
  /* Full-width input fields */
  input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0px 22px 0px;
    display: inline-block;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
    font-size: 16px;
  }
  
  input[type=text]:focus {
    background-color:#C3CED3;
    outline: none;
    font-size: 16px;
    
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid#C3CED3;
    margin-bottom: 25px;
    
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #044777;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 25px;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /*--------------drop down-------------------*/
  
  select {
      width: 80%;
      padding: 15px;
      margin: 5px 0px 22px 0px;
      display: inline-block;
      border: none;
      border-radius: 15px;
      background: #f1f1f1;
      font-size: 16px;
    }
  
  textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      border-radius: 15px;
      background: #f1f1f1;
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
     /*--------X------drop down--------X-----------*/
  
  
   /*--------------Hover------------------*/
  
    /*------Button-------- */
  
    button{
      border-radius: 50%;
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color:black;
      background-color: #F0A18A;
      outline: none;
      padding-left: 8px;
      padding-right: 8px;
      border: none;
      
    }
  
  
  
  
   /*---X---Button-----X--- */

   input[type='radio'] { 
    transform: scale(2); 
    margin-right: 20px;
  }

  
   /* Tooltip container */
  .tooltip {
      position: relative;
      display: inline-block;
    }
    
    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 180px;
      background-color:#F0A18A;
      color:black;
      text-align: center;
      padding: 2px 0;
      border-radius: 6px;
      border:3px;
  
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  
     .tooltip .tooltiptext {
      top: -5px;
      left: 105%;
      opacity: 1;
    }
  
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color:#F0A18A
    }
  
  
   /*----------x----Hover--------x----------*/
  
/*-----------------Submit pop up-------------------*/
  /* The Modal (background) */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

  /*--------X----------Submit pop up---------X----------*/
  
  /*--------X----------Form---------X----------*/
  
  
  
  
