*, *::after, *::before {

  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  


}

html, body{
    
width: 100%;
height: 100%;
    
margin: 0px; 
padding: 0px;
overflow-x: hidden;
background: #E5E5E5;

}

.logo{


  width: 220px;
  height: 98px;
  position: relative;
  top: 0px;
  float: left;
  margin-left: 0px;
}



/* nav bar */

ul {
  list-style-type: none;
  padding: 0;
  overflow:hidden;
  
}

li {
display:inline-block;
margin-right: 2%;

}

li a:link,a:visited {
  margin:0 auto;
  display:block;
  width: 200px;
  color:#FFFFFF;
  text-align:center;
  padding:20px;
  text-decoration:none;
  
}
li a:hover:not(.active) {
  background-color:#023254;
}

.active, .active1, .active2, .active3 {
background-color: #023254;
text-transform:uppercase;

}


#menu {
background-color:#044777;
text-align:center;

}


/* Jessica's addtions */
.grid-container{
display: grid;
grid-template-columns: 310px 310px 310px 310px;
grid-template-rows: 310px 310px ; 
grid-gap: 10px;
background-color: blue;
padding:10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
p{
  font-size: 12px;
}

